node_modules/
.idea
.code-*
.project
.settings/
git
.svn
.hg
.CVS
.DS_Store
.vagrant/
/vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
.phpunit.result.cache
Envoy.blade.php
*.log
*.lock
mix-manifest.json
.settings
DATA/
