<?php

return [
    // Additional modules to include when in development mode
    'modules' => [
        'Laminas\Mvc\I18n',
        'Laminas\Mvc\Plugin\FilePrg',
        'Laminas\Mvc\Plugin\FlashMessenger',
        'Laminas\Mvc\Plugin\Identity',
        'Laminas\Mvc\Plugin\Prg',
        'Laminas\Router',
        'Laminas\Validator',
        'Laminas\I18n',
        'Laminas\Cache',
        'Laminas\Session',
        'Laminas\Db',
        'Laminas\Paginator',
        'Laminas\Mail',
        'Laminas\Form',
        'Laminas\Hydrator',
        'Laminas\InputFilter',
        'Laminas\Filter',
        'Laminas\Navigation',
        'Laminas\DeveloperTools',
        'DoctrineModule',
        'DoctrineORMModule'
    ],
    // Configuration overrides during development mode
    'module_listener_options' => [
        'config_glob_paths' => [realpath(__DIR__) . '/autoload/{,*.}{global,local}-development.php'],
        'config_cache_enabled' => false,
        'module_map_cache_enabled' => false,
    ],
];
