body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.container {
  width: auto;
  max-width: 75%;
  padding: 0 15px;
  /* outline: 1px solid red; */
}
.container-flusid {
  max-width: 1200px;
  /* outline: 1px solid gray; */
}
.header {
  margin-top: 6rem;
  text-align: center;
}
.js-editor {
  display: none;
}
.row {
  /* outline: 1px solid green; */
}

.column {
  /* outline: 4px solid blue; */
}
.columns {
  /* outline: 4px solid pink; */
}

.fork-me {
  font-family: sans-serif;
  position: fixed;
  top: 5%;
  z-index: 1100;
  text-align: center;
  font-weight: bold;
  font-size: 120%;
  color: #fff;
  background-color: #68b60f;
  padding: 5px 24px;
  transform: rotate(45deg);
  right: -40px;
  border: 1px solid #888;
  display: block;
}

.nav > li {
  position: relative;
  display: block;
  float: left;
  padding-right: 15px;
}

.pagination > li {
  position: relative;
  display: block;
  float: left;
  padding-right: 15px;
}

.breadcrumb {
  margin-top: 35px;
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
}
.footer {
  background-color: #f5f5f5;
  margin-top: auto !important;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.text-muted {
  padding: 8px;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6, label {
    font-family: 'Quicksand', sans-serif;
}

ul > li {
  font-family: 'Quicksand', sans-serif;
}


.is-invalid {
  border-color: #e3342f;
  padding-right: calc(1.6em + 0.75rem);
  background-repeat: no-repeat;
  background-position: right calc(0.4em + 0.1875rem) center;
  background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}

.is-valid {
  border-color: #38c172;
  padding-right: calc(1.6em + 0.75rem);
  background-repeat: no-repeat;
  background-position: right calc(0.4em + 0.1875rem) center;
  background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}
.form-group {
  margin-bottom: 1rem;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #e3342f;
}